.about {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: #9ac5ff;
  }

  .section {
    height: 110vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    img {
      width: 300px;
      height: auto;
      border-radius: 8px;
      margin-right: 5%;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      max-width: 600px;
    }
  }

  .skills {
    width: 50vw;

    p {
      line-height: 200%;
    }
  }

  .publication {
    width: 70vw;

    ul {
      display: flex;
      flex-direction: column;
    }
    li {
      display: flex;
      flex-direction: column;
      padding: 2%;
      color: white;

      h3 {
        margin: 0;
        padding: 0;
        padding-bottom: 0.5%;
        line-height: 200%;
        font-size: 1rem;
      }

      p {
        margin: 0;
        top: 0;
        line-height: 150%;
      }
    }
  }
}
