.about-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.about {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  a {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: rgb(190, 219, 246);
  }

  .section {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, transform;
  }

    @media (max-width: 900px) {
      .section {
        height: 110vh;
        width: 80vw;
      }
    }


  .section.is-visible {
    opacity: 1;
    transform: none;
  }

  @media (prefers-reduced-motion: reduce) {
    .section {
      transition: none;
      transform: none;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    width: 100%;

    img {
      width: 25%;
      height: auto;
      border-radius: 8px;
      margin-right: 2%;
      margin-top: 2%;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }

    @media (max-width: 900px) {
      p {
        font-size: 0.8rem;
        line-height: 1.6;
      }
      img {
        display: none;
      }


    }


  .icon-links {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    justify-content: space-between;
    
  }

  li {
    // border: 2px solid purple;
  }

  @media (max-width: 900px) {
    ul {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }


  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  a:hover {
    color: rgb(190, 219, 246);
    transform: scale(1.1);
  }

  .link-text {
    padding-left: 2%;
  }

  @media (max-width: 900px) {
    .link-text {
      padding-left: 5%;
      font-weight: 300;
      font-size: 0.8rem;
    }
  }

  .icon {
    width:25px;
    height:25px;
    color: white !important;
    fill: white !important;
    transition: fill 0.3s ease;
    margin: 0;
    padding: 0;
  }

  a:hover .icon {
    color: rgb(190, 219, 246) !important;
    fill: rgb(190, 219, 246) !important;
  }
  }

  .skills {
    p{
      font-size: 1.2rem;
      line-height: 1.6;
      padding-bottom: 5%;
    }

    .skills-text{
      line-height: 2;
    }

      @media (max-width: 900px) {
        p{
          font-size: 0.8rem;
          line-height: 1.6;
          padding-bottom: 5%;
        }
    }
  }

  .publication {

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      display: flex;
      flex-direction: column;
      padding: 2%;
      color: white;

      h3 {
        margin: 0;
        padding: 0;
        padding-bottom: 0.5%;
        line-height: 200%;
        font-size: 1rem;
        letter-spacing: 0.05rem ;
      }

      p {
        margin: 0;
        top: 0;
        line-height: 150%;
      }

      @media (max-width: 900px) {

        h3 {
          padding-bottom: 0.5%;
          line-height: 200%;
          font-size: 0.8rem;
          letter-spacing: 0.05rem ;
        }

        p{
          font-size: 0.7rem;
          line-height: 150%;
        }

      }

    }

    @media (max-width: 900px) {

      li{
        padding: 6%;
      }
    }
  }

    h2{
      text-transform: uppercase;
    }
  
    .body-text {
      font-family: "proxima-nova", sans-serif;
    }

}



.about-canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}