body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
  background-color: #09111b;
  font-family: "Electrolize", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  padding: 1vh;
  backdrop-filter: blur(30px);
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.49),
    rgba(0, 0, 0, 0)
  );
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: turquoise;
}

.nav-link {
  text-align: center;
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
}

.three-canvas {
  width: 100%;
  height: 100%;
  background-color: rgb(24, 6, 34);
}
